div.box{
	width: 400px;
	margin: 10px 40px;
}
input{
	display: none;
}
label.tombol{
	display: block;
	height: 30px;
	cursor: pointer;
	background: #888 url('gambar/arrow.png')  370px -19px no-repeat;
}
label h4{
	color: #fff;
	padding: 5px;
}
div.konten{
	height: 0;
	overflow: hidden;
	border: 1px solid #888;
	
	transition: 1s ease;
	-moz-transition: 1s ease;
	-webkit-transition: 1s ease;
}
div.konten p{
	padding: 5px;
	margin-top: 0;
}
input:checked ~ div.konten{
	height: 100px;
}
input:checked ~ label.tombol{
	background: #888 url('gambar/arrow.png') 370px 3px no-repeat;
}
	